// Blog
//
//


.blog {
  margin-top: $section-margin;
}

.post-subject-title {
  @extend h4;
}

.post-list {
  list-style: none;
  padding: 0;
  margin-bottom: calc($section-margin / 2);
  @extend .p-small;

  li {
    margin-bottom: 1em;

    a.post-link {
      text-decoration: none;

      .link-title {
        text-decoration: underline;
      }

      .link-subtitle {
        color: $text-color-silver;
      }

      &:hover {
        .link-title {
          text-decoration: none;
        }

        .link-subtitle {
          color: $text-color-muted;
        }
      }
    }
  }
}

.blog-top-ad,
.blog-bottom-ad {
  margin: calc($section-margin / 2) 0;
}
