// Code
//
//

.code-label {
  margin: 0;
  padding: 0 .5em;
  border-radius: 3px 3px 0 0;
  border: 1px solid $brand-primary-light;
  border-bottom: 0;
  background-color: $brand-primary-lighter;
  color: $brand-primary-dark;
  font-size: .72em;
  &:before {
    display: inline;
    margin-right: 1em;
    color: $brand-primary;
    font-weight: 700;
  }
  @each $code in (HTML, CSS, SCSS, Sass, JavaScript, JS, jQuery, Ruby, Markdown, XML, Shell, MDX, TypeScript, TS, TXT, JSX, TSX) {
    &.code-label-#{to-lower-case($code)}:before {
      content: "#{$code}";
    }
  }
}


