// Page
//
// common layout of page and post

.page-image {
  // todo fix
  display: none;
  max-width: 100%;

  > div {
    //margin: 0 -12.5% 1rem; // width: 320px = margin: 40px
  }

  @include media-breakpoint-up(md) {
    //margin: $max-margin; // width: 800px = margin: 100px
  }
}

.page-header {
  position: relative;
  margin-bottom: $section-margin;
}

.page-title {
  margin: 0;
  text-indent: -.02em;
}

.page-subtitle {
  @extend h4;
  margin: .5rem 0 0;
}

.page-content {
  position: relative;
  //word-break: break-all;
  word-wrap: break-word;
}

.page-footer {

}
