// Post
//
//


// post meta data
//
.post-meta {
  text-align: right;
  margin-bottom: 1em;
  @extend .p-smaller;
  @at-root .page-header & {
    margin-top: 1em;
  }
  @at-root .sidebar-right & {
    margin-top: 0.5em;
  }
  span {
    display: block;

    .svg-inline--fa {
      margin-right: .25em;
    }
  }

  .date {
    color: $text-color-silver;
  }
}

.post-tags {
  text-align: right;
  @extend .p-smaller;
  @at-root .sidebar-right & {
    margin-left: 50px;
  }

  .tag {
    display: inline-block;
  }
}

// post cc info
//
.cc-info {
  margin: $section-margin 0;
  padding: calc($section-margin / 4);
  background-color: $gray-n0;
  @extend .clearfix;
  @extend .p-smaller;

  .cc-icons {
    color: $text-color;
    font-size: 20px;
    margin-bottom: 4px;

    .cc-icon {
      margin-right: 4px;
    }
  }
}

.rss-feed-info {
  margin: $section-margin 0;
  padding: calc($section-margin / 2) 0;
  border-top: 1px solid $gray-n0;
  @extend .p-smaller;

  @at-root .page-footer & {
  }
  @at-root .sidebar-right & {
    margin: 1rem 0 1rem 50px;
    padding: 1rem 0;
    text-align: right;
    > span {
      display: block;
      margin-top: .2em;
    }
  }
  a {
    display: inline-block;
    @at-root .page-footer & {
      margin-right: 1em;
    }
  }

  a, img {
    vertical-align: bottom;
  }
}

// post sns links
//
$sns-link-width: 3.3rem;
.sns-links {
  display: flex;
  justify-content: center;
  margin: $section-margin 0;
  text-align: center;

  .sns-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $sns-link-width;
    height: $sns-link-width;
    border-radius: 50%;
    background-color: $brand-primary;
    font-size: 1.7rem;
    color: #fff;
    transition: all 400ms;

    &:not(:first-child) {
      margin-left: 1em;
    }

    @media (pointer: fine) {
      &.facebook:hover {
        background-color: $facebook-color;
      }
      &.twitter:hover {
        background-color: $twitter-color;
      }
    }
  }
}

// post next, prev links
//
.post-nav {
  font-size: 1.11rem;

  a {
    display: block;
  }

  .icon {
    white-space: nowrap;
    font-size: 1.2rem;
  }

  .post-next-link {
    margin-left: 1em;
    margin-bottom: 2rem;
    text-align: right;

    .svg-inline--fa {
      margin-left: .5em;
    }
  }

  .post-prev-link {
    margin-right: 1em;

    .svg-inline--fa {
      margin-right: .5em;
    }
  }
}

// post header ad
.post-top-ad {
  margin-bottom: $section-margin;
}

// markdown-toc
//
.markdown-toc {
  @extend .p-small;
  word-break: break-all;

  .toc-title {
    display: block;
    margin-bottom: 1em;
    color: inherit;
    text-decoration: none;
    &.active {
      font-weight: 700;
      color: $text-color;
    }
  }

  ol {
    // @counter-style 은 사파리에서 지원하지 않아 before 요소에 content 입력 방식으로 카운터를 구현함.
    // https://developer.mozilla.org/en-US/docs/Web/CSS/@counter-style
    counter-reset: section;
    list-style-type: none;
    padding-left: 2em;

    a {
      position: relative;
      &::before {
        position: absolute;
        white-space: nowrap;
        right: calc(100% + 0.75em);
        counter-increment: section;
        content: counters(section, ".") " ";
        color: $text-color-muted;
        font-size: 0.85em;
      }
    }
  }

  @at-root .page & {
    margin: calc($section-margin / 2) 0 $section-margin;
  }

  @at-root .sidebar-right & {
    @extend .p-smaller;
    position: sticky;
    top: 50px;
    //padding: 50px 0;
    box-sizing: border-box;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    color: $text-color-silver;
    &:hover {
      color: $text-color-muted;
    }

    > ol > li {
      margin-bottom: .5em;
    }
    li {
      margin-bottom: .25em;
      a {
        position: relative;
        text-decoration: none;
        display: block;
        color: inherit;
        transition: color 400ms;
        &::before {
          color: $text-color-silver;
        }

        &:hover {
          &:before {
            right: calc(100% + 0.2em);
            font-size: 1.5em;
            content: '🤓';
          }
          color: $text-color;
        }

        &.active {
          &:before {
            right: calc(100% + 0.2em);
            font-size: 1.5em;
            content: '😎';
          }
          font-weight: 700;
          color: $text-color;
        }
      }
    }

  }
}

// header original link
//
.original-link {
  @extend .p-smaller;
  font-weight: 400;

  &:after {
    content: ' \f08e';
    font-family: FontAwesome;
  }
}

