// Print
//
//


@page {
  size: A4 portrait;
  margin: 2.5cm;
}

@media print {
  :root {
    color-scheme: light;
  }

  body {
    background: #fff;
    color: #000;
  }

  html {
    font-size: 9pt;
  }

  .wrapper {
    margin: 0;
  }

  .sidebar-left,
  .sidebar-right,
  .site-header,
  .site-footer,
  .post-meta,
  a[data-footnote-backref="true"] {
    display: none;
  }

  .page-header {
    margin-bottom: 3rem;
  }

  hr {
    margin-bottom: 2rem;
  }
  .print-hr {
    page-break-after: always;
  }

  /* href 속성을 가진 <a> 태그 뒤에 URL을 표시 */
  a[href].print-url {
    color: inherit;
    text-decoration: none;
    display: block;
    &::after {
      content: ": " attr(href);
    }
  }

  .profile-list {
    dt, dd {
      margin-bottom: .5em;
    }
  }
}
