// Sub navigation
//
//


.sub-nav {
  @extend .p-smaller;
  max-height: calc(100vh - 100px);
  padding-top: .75em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: sticky;
  top: 50px;

  $li-margin: 1.11rem;
  margin-bottom: -$li-margin;

  a {
    text-decoration: none;
  }

  .sub-nav-title {
    margin-bottom: 1.11rem;
    color: $text-color-muted;
    font-weight: 300;
    font-size: 1em;
    line-height: 1;
    a {
      color: inherit;
    }
  }
  .sub-link-list {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0;
    li {
      margin-bottom: $li-margin;
    }
    .sub-link {
      display: block;
      color: $text-color-gray;

      &.active {
        font-weight: 700;
        color: $text-color;
      }
    }
  }
}
