// Sub navigation
//
//

$li-margin: 1rem;
$div-margin: 1.5rem;

.post-side-nav {
  @extend .p-smaller;
  max-height: calc(100vh - 100px);
  padding-top: .75em;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: sticky;
  top: 50px;
  margin-bottom: -$div-margin;

  > div {
    margin-bottom: $div-margin;
  }

  a {
    text-decoration: none;
  }

  .post-side-nav-title {
    margin-bottom: 1.11rem;
    color: $text-color-muted;
    font-weight: 400;
    font-size: 1em;
    line-height: 1;

    &.active {
      color: $text-color;
    }

    a {
      color: inherit;
    }
  }
  .post-side-nav-list {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0;
    li {
      margin-bottom: $li-margin;
    }
    .post-side-nav-link {
      display: block;
      color: $text-color-gray;

      &.active {
        font-weight: 700;
        color: $text-color;
      }
    }
  }
}
